# Build files
/server/build/
/server/build-linux/
/server/build-win/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/Makefile2
**/Makefile.cmake
**/CMakeDirectoryInformation.cmake
**/CMakeConfigureLog.yaml
**/progress.marks
**/TargetDirectories.txt
**/InstallScripts.json

# Compiled binary files
*.o
*.obj
*.so
*.dll
*.exe
*.out

# Python bytecode
__pycache__/
*.pyc

# Logs
*.log

# Editor settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# idk git being funkey
server
IXWebSocket
